---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Software engineer with ability to learn and collaborate in rapidly changing
    environments and compositions. <br /> Always try to get the job done a better
    way. That's why I use neovim, tmux and shell scripting in my dev workflow. <br
    />Falling love with suckless philosophy and wanna write more about it (both
    blogging and programming).
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="B.A. Computer Science"
      subtitle="From 2018 to 2022 at VNUHCM - University of Science, Ho Chi Minh City, Vietnam"
      desc={[]}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Blockchain Developer (smart contract mainly)"
      subtitle="From 2022 at Beowulf Blockchain, Vietnam"
      desc={[
        "Research, build, deploy smart contracts to different networks",
        "Smart contract interaction with different technologies (Node.js, Solidity)",
        "Backend Developer",
      ]}
    />
    <TimeLineElement
      title="Mobile Freelancer"
      subtitle="From 2019 to 2021 at Ho Chi Minh City, Vietnam"
      desc={[
        "Studied a variety of .NET Framework technical stack as ASP.NET MVC, WPF...",
        "Built Web API using ASP.NET MVC and Entity Framework",
        "Built mobile cross-platform application using Xamarin.Forms",
        "Built automation tool with Selenium and WPF for better interaction",
        "Communicated with the customer and team leader to deeply understand the needs of users and build an application that serves those needs",
        "Support customer to use and maintance the product",
      ]}
    />
    <TimeLineElement
      title="Self-taught programming"
      subtitle="From 2017 to 2018 at High school"
      desc={[
        "Mobile App development using Android (Java)",
        "Built some cool stuff with Arduino and Linux",
      ]}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.hackerrank.com/phnaharris" target="_blank">
        Hackerrank Certification
      </a>
    </li>
    <li>
      <a
        href="https://drive.google.com/drive/folders/1k5h6xw7oFICgEAcnXmVP1wcZdPf8Fa5k"
        target="_blank"
      >
        Google IO Extended Vietnam 2019
        <ul class="list-disc">
          <li>
            Certificate of Completion present for successfully completing the
            TensorFlow, Keras and deep learning, without a PhD
          </li>
          <li>
            Certificate of Completion present for successfully completing the
            Building Beautiful UIs with Flutter
          </li>
        </ul>
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mb-10 mx-6">
    <!--- 
        col1: Programming languages
        col2: DBMS
        col3: Architecture
        col4: Framework
        col5: Tools
        -->
    <li>Rust (Most loved)</li>
    <li>JavaScript/TypeScript</li>
    <li>Node.js</li>
    <li>Golang</li>
    <li>Solidity</li>
    <li>C/C++</li>
    <li>Scripting languages: Python, Shell, Lua</li>
    <li>C# (WPF, Xamarin)</li>
    <li>Linux</li>
    <li>MongoDB</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>Clickhouse</li>
    <li>.NET Framework (ASP.NET MVC)</li>
    <li>Entity Framework</li>
    <li>MVC & MVVM</li>
    <li>Express.js</li>
    <li>Selenium</li>
    <li>Astro (this page ^^)</li>
    <li>Git</li>
    <li>Neovim</li>
    <li>Scrum</li>
    <li>Data Structure & Algorithms</li>
    <li>Design Pattern</li>
    <li>Distributed System</li>
    <li>Blockchain</li>
    <li>Cryptography</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Projects</div>
  </div>
</BaseLayout>
